
@font-face {
    font-family: 'Orbitron';
    src: url(../fonts/Orbitron/Orbitron-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Orbitron';
    scroll-behavior: smooth;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
button:hover{
    cursor: pointer;
}

.container {
    max-width: 1376px;
    margin: 0 auto;
    padding: 0px 20px;
}
#header {
    padding: 20px 0px;
    background-image: linear-gradient(#000 0% 100%);
    /* background-color: #000; */
}
#home{
    padding: 250px 0px;
    background-image: linear-gradient(#000 0% 100%);
    /* background-color: #000; */
}
#sponsors{
    padding: 130px 0px 130px;
    background-color: #FDD04A;
}
#shop_gaming {
    padding: 135px 0px 130px;
    background-image: url(../img/wop_gaming.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#new_era {
    padding: 120px 0px;
    /* background-color: #000; */
    background-image: linear-gradient(to right, #000 0% 100%);
}

#news{
    padding: 81px 0px 86px;
    /* background-color: #000; */
    background-image: linear-gradient(to right, #000 0% 100%);
}

footer {
    background: url("../img/footer_img.png");
    padding: 125px 0px 135px;
}

/* ---------DARK-LIGHT---------- */

.light #header {
    background-image: linear-gradient(to right, #59B9FF 0% 100%);
}

#backtop {
    position: fixed;
    bottom: -60px;
    right: 15px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }